# Node / TypeScript
node_modules/
dist/
build/
coverage/
**/storybook-static/
test-results/
playwright-report/
*.log
frontend/.vite

# Env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.tmp
*.swp
*.tsbuildinfo
